<footer class="footer ml">
    <div class="logo-container">
        <h3 class="footer__text">Scodev Studios</h3>
    </div>
    <div class="links--hover-y">
        <ul>
            <li><a href="#" class="footer__text">Home</a></li>
            <li><a href="#" class="footer__text">About Us</a></li>
            <li><a href="#" class="footer__text">Contact</a></li>
        </ul>
    </div>
    <div>
        <ul>
            <li>
                <a href="https://www.paypal.me/PedroGame12" target="_blank"
                    ><i class="fa-brands fa-paypal footer__text"></i
                ></a>
            </li>
            <li>
                <a href="https://www.youtube.com/@Scodev" target="_blank"
                    ><i class="fa-brands fa-youtube footer__text"></i
                ></a>
            </li>
            <li>
                <a href="https://twitter.com/Scodev_" target="_blank"
                    ><i class="fa-brands fa-twitter footer__text"></i
                ></a>
            </li>
            <li>
                <a href="https://discord.gg/daqQBfbE" target="_blank"
                    ><i class="fa-brands fa-discord footer__text"></i
                ></a>
            </li>
        </ul>
    </div>
</footer>
